<app-header></app-header>
<div class="content-wrapper">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>


<!--<app-footer></app-footer>-->